---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
  <url>
    <loc>https://alexandrajanin.fr/</loc>
    <priority>1.0</priority>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://alexandrajanin.fr/offres/</loc>
    <priority>0.9</priority>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://alexandrajanin.fr/realisations/</loc>
    <priority>0.8</priority>
    <changefreq>monthly</changefreq>
  </url>
  <url>
    <loc>https://alexandrajanin.fr/contact/</loc>
    <priority>0.8</priority>
    <changefreq>yearly</changefreq>
  </url>
  <url>
    <loc>https://alexandrajanin.fr/mentions-legales/</loc>
    <priority>0.2</priority>
    <changefreq>yearly</changefreq>
  </url>
</urlset>
